body {
  background: lightblue;
  text-align: center;
}

.character-nav {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.character-nav img {
  width: 150px;
  border: solid black 2px;
  margin: 0.3em;
  border-radius: 0.5em;
}
