body {
  background: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1289452/ss_41056036f6f360ff1637b3e041790f93ee4d5256.1920x1080.jpg?t=1604995094") no-repeat center center fixed;
  background-size: cover;
  text-align: left;
}

h2 {
  color: white;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
}

.appDiv {
  display: grid
}

.appDiv {
  grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
}

.hero-nav {
  grid-column-start: 1;
  grid-column-end: 2;
}

.hero-nav img {
  width: 100px;
  height: 160px;
  border: solid black 2px;
  margin: 0.3em;
  border-radius: 0.5em;
}

.villain-nav {
  grid-column-start: 5;
  grid-column-end: 6;
}

.villain-nav img {
  width: 100px;
  height: 160px;
  border: solid black 2px;
  margin: 0.3em;
  border-radius: 0.5em;
}

.hero-display img {
  height: 35vh;
  border: solid black 3px;
  border-radius: 3em;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 50px
}

.hero-display button {
  grid-column-start: 2;
  grid-column-end: 3;
}

.winner {
  grid-column-start: 3;
  grid-column-end: 4;
}
.villain-display img {
  height: 35vh;
  border: solid black 3px;
  border-radius: 3em;
  grid-column-start: 4;
  grid-column-end: 5;
  margin-left: 65px;
}

.villain-display button {
  grid-column-start: 4;
  grid-column-end: 5;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.reset-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.winner-card {
  transition: all 2.0s;
}

label{
  padding: 2rem;
  margin: 2rem;
}

/* hero-or-villain{
  padding: 20rem;
  margin: 20rem;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.character-form label {
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 100px; /* Increase the margin between labels */
}

.power-container{
  margin-top: 30px
}

.name-container{
  margin-bottom: 30px;
}


.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.navBar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  height: 70px;
  font-family: "Comic Sans MS", cursive;
  transition: transform 0.3s ease-in-out; 
}

.navBar a {
  text-decoration: none;
  color: red;
  font-size: 30px;
}

.title {
  font-family: "Comic Sans MS", cursive;
  font-size: 80px;
  color: white;
  margin-left: 726px;
}